// Specific CSS for your home-page
body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.9)), url("https://previews.123rf.com/images/khwaneigq/khwaneigq1703/khwaneigq170300049/78305396-steel-checkerplate-metal-sheet-metal-sheet-texture-background-.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


