// Specific CSS for your home-page
body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9)), url("https://p82.f1.n0.cdn.getcloudapp.com/items/KouZWo9l/5554e93d-73c2-481c-a703-46e60a519019.png?source=viewer&v=752daac0d71e61bba1919ca65e453775");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 300px 300px;
}
