<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.redd.it/vrno30rkp1w51.png);">
  <div class="container-xl">
    <h3><%= @user.username %>'s</h3>
    <h1>DASHBOARD</h1>
    <h3>★★★★☆</h3>
  </div>
</div>

<div class="container mt-3">
  <button><%= link_to "Add Game", new_offer_path %></button>
</div>

<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">MY GAMES</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">RENTED OUT</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">RENTING</a>
  </li>
</ul>


  <div class="row">
    <% @offers_for_user.each do |offer| %>
      <div class="col-lg-4">
      </div>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-6">
        <div class="card-show-category">
           <p><%= offer.user.email %></p>
           <div class="platforms-button m-2">
              <% if offer.game.platform == "Playstation 4" %>
                <button disabled class ="active-p">ps4</button>
                <button disabled class = "disabled-s">switch</button>
                <button disabled class = "disabled-x">xbox</button>
              <% elsif offer.game.platform == "Nintendo Switch"  %>
                <button disabled class = "disabled-p">ps4</button>
                <button disabled class ="active-s">switch</button>
                <button disabled class = "disabled-x">xbox</button>
              <% else %>
                  <button disabled class = "disabled-p">ps4</button>
                  <button disabled class = "disabled-s">switch</button>
                  <button disabled class ="active-x">xbox</button>
               <% end %>
              <div class="rent-now my-2">
                <button class="btn btn-primary w-100">Rent</button>
              </div>
            </div>
        </div>
      </div>
        <div class="col-lg-1">
      </div>
    <% end %>
  </div>

