<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= simple_form_for (@offer)  do |f| %>
          <%= f.input :platform, collection: @platforms, as: :radio_buttons, error: "Choose a platform"   %>
          <%= f.association :game %>
          
         
          <%= f.submit "Add Offer", class: "btn btn-primary new-offer-button" %>
         
      <% end %>
    </div>
  </div>
</div>

