
.banner {
  background-size: cover;
  background-position: center;
  padding: 96px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 56px;
  font-weight: bold;
  opacity: .9;
}

.banner h3 {
  font-size: 32px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-show {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.6)), url(https://i.redd.it/vrno30rkp1w51.png);
    padding: 50px;
    height: 300px;
    margin-bottom: 30px;
    color: white;
 }

.h5-show {
  color: black;
} 

.new-offer-button {
  border-radius: 8px !important;
}

