
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
  opacity: .9;
}

.banner h3 {
  font-size: 32px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-show {
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4));
    padding: 100px;
    height: 400px;
    margin-bottom: 30px;
 
 }

