
.banner {
  background-size: cover;
  background-position: center;
  padding: 96px 0;
}

.banner h1 {
  margin: 0;
  margin-bottom: -18px;
  color: white;
  text-shadow: 0px 0px 10px rgba(0,0,0,1);
  font-size: 64px;
  font-weight: bold;
  opacity: .9;
}

.banner-show h4 {
  font-size: 26px;
  color: white;
  opacity: .9;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
  margin-bottom: 20px;
}

.banner h4 {
  margin: 3px;
  margin-bottom: -12px;
  color: white;
  text-shadow: 0px 0px 10px black;
  font-size: 32px;
  font-weight: bold;
  opacity: .9;
}

.profile-stars {
  background: -webkit-linear-gradient( 92deg, #95d7e3, #eb76ff );
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

  background-size: 600vw 600vw;

  // make sure to put these after the background property
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255,255,255,0.6);
  animation: textAnimate 2s linear infinite alternate;
}

@keyframes textAnimate {
  from {
    filter: hue-rotate(0deg);
    background-position-x: 0%;

  }
  to {
    filter: hue-rotate(360deg);
    background-position-x: 600vw;

  }
}

.banner-show {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.6)), url(https://i.redd.it/vrno30rkp1w51.png);
    padding: 50px;
    height: 300px;
    margin-bottom: 30px;
    color: white;
 }


 .banner-offer-show {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.6)), url(https://i.redd.it/vrno30rkp1w51.png);
  padding: 50px;
  height: 300px;
  margin-bottom: 30px;
  color: white;
}

.banner-show h1 {
  margin: 0;
  color: white;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  font-size: 64px;
  opacity: .9;
  line-height: 1;
}

.h5-show {
  color: black;
}

.new-offer-button {
  border-radius: 8px !important;
}

.return-button {
  border-radius: 8px !important;
}
