
.card-index {
  border-radius: 8px;
  position: relative;
  height: 500px;
}

.card-show {
  border-radius: 8px;
  position: relative;
  height: 400px;
  width: 260px;
}

.card-row-show {
    position: relative;
}

.card-body-show a {
    text-decoration: none;
    color: black;
}

.card-body-show a:hover {
    text-decoration: none;
    color: black;
    opacity: 60%;
}

.card-row-show h4 {
    color: black;
    position: absolute;
    top: -60px;
    left: 360px;
}

.banner-text-show h4 {
    color: white;
    margin-top: 100px;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

.banner-text-show h1 {
    color: white;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

.stars .active {
    color: #f6b900;
    font-size: 24px;
}

.avatar-show {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 12px;
}

.stars .active{
    color: #f6b900;
    font-size: 24px;
}

.stars .disabled {
    font-size: 24px;
    color: #f6b900;
    opacity: 0.4;
}

.button-index {
  border-radius: 0px;
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
  background-color: #673ab7;
  border-color: #673bb7;
}

.button-add-game {
    border-radius: 0px;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    background-color: $danger;
    border-color: $danger;
}

.button-add-game:hover {
    border-radius: 0px;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    background-color:  rgb(238, 61, 64);
    border-color: rgb(238, 61, 64);
    text-decoration: none;
    color:white;
}


.button-index a {
  color: white;
}

.button-index a:hover {
  text-decoration: none;
}


.card-index-image {
    height: 250px;
    object-fit: cover;
}

.card-body-show {
    color: black;
}

.game-cover-show {
    height: 400px;
    width: 280px;
    object-fit: cover;
}

.status-text {
  margin-left: -20px;
  margin-right: -20px;
  color: white;
  font-size: 1.25rem;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0;
}

.pending {
  background-color: #F3C302;

}

.declined {
  background-color: #DF0024;
}

.returned {
  background-color: #15AC9F;
}

.listed-games {
  min-height: 8em;
}

.card-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0;
  min-height: 14em;
}



@media only screen and (max-width: 1200px) {
    .card-index {
        height: 550px;
    }
    .card-index-image {
        height: 300px;

    }

    .card-show {
        border-radius: 8px;
        position: relative;
        height: 400px;
        width: 230px;
    }
}

@media only screen and (max-width: 990px) {
    .card-index {
        height: 650px;
    }

    .card-index-image {
        height: 400px;

    }

    .banner-text-show h4 {
        color: white;
        margin-top: 10px;
        text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    }

    .card-show {
        border-radius: 8px;
        position: relative;
        height: 400px;
        width: 230px;
    }

    .card-row-show h4 {
        color: black;
        position: absolute;
        top: 60px;
        left: 60px;
    }
}

@media only screen and (max-width: 767px) {

    .banner-text-show h4 {
        color: black;
        margin-top: 40px;
    }

    .banner-text-show h1 {
        color: black;
    }

    .card-show {
        border-radius: 8px;
        position: relative;
        height: 400px;
        width: 230px;
    }

    .card-row-show h4 {
    color: black;
    position: absolute;
    top: -60px;
    left: 360px;
    visibility: hidden;
    }

    .game-cover-show {
    height: 320px;
    width: 200px;
    object-fit: cover;
    }

    .container-show {
        overflow-x:hidden;
    }

}
