
.card-index {
  border-radius: 8px;
  position: relative;
  height: 500px;
}

.card-show {
  border-radius: 8px;
  position: relative;
  height: 400px;
  width: 260px;
  
}

.card-row-show {
    position: relative;
    top: -100px;
    left: 66px;
}

.card-body-show a {
    text-decoration: none;
    color: black;
}

.card-body-show a:hover {
    text-decoration: none;
    color: black;
    opacity: 60%;
}

.card-row-show h4 {
    position: absolute;
    top: -74px;
    left: 300px;
    background-color: #673ab7;
    border-color: #673bb7;
    color: white;
    border-radius: 0px;
}

.banner-text-show h4 {
    color: white;
    margin-top: 100px;
    margin-left: -34px;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

.banner-text-show h1 {
    color: white;
    font-weight: bold;
    margin-left: -34px;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

.stars .active {
    color: #f6b900;
    font-size: 24px;
}

.avatar-show {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #bda0ee;
}

.stars .active{
    color: #f6b900;
    font-size: 24px;
}

.stars .disabled {
    font-size: 24px;
    color: #f6b900;
    opacity: 0.4;
}

.button-index {
  border-radius: 0px;
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
  background-color: #673ab7;
  border-color: #673bb7;
}

.button-front {
  border-radius: 0px;
  margin-top: 30px;
  margin-bottom: 5px;
  bottom: 0px;
  background-color: #673ab7;
  border-color: #673bb7;
  color: white;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}

.profile-front {
  border-radius: 0px;
  margin-top: 30px;
  margin-bottom: 5px;
  bottom: 0px;
  background-color: #673ab7;
  border-color: #673bb7;
  color: white;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}

.button-add-game {
    border-radius: 0px;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    background-color: #DF0024;
    border-color: #DF0024;
}

.button-add-game:hover {
    border-radius: 0px;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    background-color:  rgb(238, 61, 64);
    border-color: rgb(238, 61, 64);
    text-decoration: none;
    color:white;
}


.button-index a {
  color: white;
}

.button-index a:hover {
  text-decoration: none;
}


.card-index-image {
    height: 250px;
    object-fit: cover;
}

.card-body-show {
    color: black;
}

.game-cover-show {
    height: 400px;
    width: 280px;
    object-fit: cover;
}

.status-text {
  color: white;
  font-size: 1.25rem;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0;
}

.pending {
  background-color: #F3C302;

}

.declined {
  background-color: #DF0024;
}

.x-button {
  color: white;
  background-color: #DF0024;
  border-color: #DF0024;
  height: 3.1em;
  border-radius: 0;
}

.check-button {
  color: white;
  background-color: #673ab7;
  border-color: #673bb7;
  height: 3.1em;
  border-radius: 0;
}

.returned {
  background-color: #15AC9F;
}

.returned-user, .returned-user :link, .returned-user :visited, .returned-user :hover {
  background-color: #127c74;
  text-decoration: none;
  color: white;
}

.pending-user, .pending-user :link, .pending-user :visited, .pending-user :hover {
  background-color: #c99f08;
  text-decoration: none;
  color: white;
}

.owner-name, .owner-name :link, .owner-name :visited, .owner-name :hover {
  background-color: #A6162C;
  text-decoration: none;
  color: white;
  margin-bottom: 2.4em;
}

.rentee-name, .rentee-name :link, .rentee-name :visited, .rentee-name :hover {
  background-color: #A6162C;
  text-decoration: none;
  color: white;
}

.listed-games {
  min-height: 8em;
}

.card-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0;
  min-height: 14em;
}

.button-index2 {
  border-radius: 0px;
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #673ab7;
  border-color: #673bb7;
}



@media only screen and (max-width: 1200px) {
    .card-index {
        height: 550px;
    }
    .card-index-image {
        height: 300px;

    }

    .card-show {
        border-radius: 8px;
        position: relative;
        height: 400px;
        width: 230px;
    }
}

@media only screen and (max-width: 990px) {
    .card-index {
        height: 650px;
    }

    .card-index-image {
        height: 400px;

    }

    .banner-text-show h4 {
        color: white;
        margin-top: 10px;
        text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    }

    .card-show {
        border-radius: 8px;
        position: relative;
        height: 400px;
        width: 230px;
    }

    .card-row-show h4 {
        color: black;
        position: absolute;
        top: 60px;
        left: 60px;
    }
}

@media only screen and (max-width: 767px) {

    .banner-text-show h4 {
        color: black;
        margin-top: 40px;
        visibility: hidden;
    }

    .banner-text-show h1 {
        color: black;
        visibility: hidden;
    }

    .card-show {
        border-radius: 8px;
        position: relative;
        height: 400px;
        width: 230px;
    }

    .card-row-show h4 {
    color: white;
    position: absolute;
    top: -100px;
    left: -10px;
   
    }

    .game-cover-show {
    height: 320px;
    width: 200px;
    object-fit: cover;
    }

    .container-show {
        overflow-x:hidden;
    }

    .button-index2 {
      border-radius: 0px;
      margin-bottom: 0px;
      position: absolute;
      bottom: 0px;
      left: 230px;
      background-color: #673ab7;
      border-color: #673bb7;
    }

    .banner-show h1 {
      font-size: 40px;
    }

    .banner-show h4 {
      font-size: 20px;
    }

    .banner h1 {
      position: absolute;
      bottom: 190px;
      left: 30px;
      font-size: 48px;
    }


}
