
.card-index {
  border-radius: 8px;
  position: relative;
  height: 500px;
}

.card-show {
  border-radius: 8px;
  position: relative;
  height: 400px;
  width: 260px;
}

.card-row-show {
    position: relative;
}

.card-row-show h4 {
    color: black;
    position: absolute;
    top: -60px;
    left: 360px;
}

.banner-text-show h4 {
    color: white;
    margin-top: 100px;
}

.banner-text-show h1 {
    color: white
}


.avatar-show {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 12px;
}

.stars .active{
    color: #f6b900;
    font-size: 24px;
}

.stars .disabled {
    color: black;
    font-size: 24px;
    opacity: 50%;
}

.button-index {
  border-radius: 0px;
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
  background-color: #673ab7;
  border-color: #673bb7;
}

.button-index a {
  color: white;
}

.button-index a:hover {
  text-decoration: none;
}


.card-index-image {
    height: 250px;
    object-fit: cover;
}

.card-body-show {
    color: black;
}

.game-cover-show {
    height: 400px;
    width: 280px;
    object-fit: cover;
}



@media only screen and (max-width: 1200px) {
    .card-index {
        height: 550px;
    }
    .card-index-image {
        height: 300px;

    }

    .card-show {
        border-radius: 8px;
        position: relative;
        height: 400px;
        width: 230px;
    }
}

@media only screen and (max-width: 990px) {
    .card-index {
        height: 650px;
    }

    .card-index-image {
        height: 400px;

    }

    .banner-text-show h4 {
        color: white;
        margin-top: 10px;
    }

    .card-show {
        border-radius: 8px;
        position: relative;
        height: 400px;
        width: 230px;
    }

    .card-row-show h4 {
        color: black;
        position: absolute;
        top: 60px;
        left: 60px;
    }
}

@media only screen and (max-width: 767px) {

    .banner-text-show h4 {
        color: black;
        margin-top: 40px;
    }

    .banner-text-show h1 {
        color: black
    }

    .card-show {
        border-radius: 8px;
        position: relative;
        height: 400px;
        width: 230px;
    }

    .card-row-show h4 {
    color: black;
    position: absolute;
    top: -60px;
    left: 360px;
    visibility: hidden;
    }

    .game-cover-show {
    height: 320px;
    width: 200px;
    object-fit: cover;
    }

    .container-show {
        overflow-x:hidden;
    }

}

