.color-bar {
    width: 500px;
}

.container-xl {
    position: relative;
}

.button-user-show {
    height: 35.8px !important;
}


.btn-group {
    position: relative;
    position: absolute;
    top: 0px;
    left: -400px;
}

.dropdown-select2 {
    position: absolute;
    width: 400px;
    top: 0px;
    right: -400px;
    line-height: 31px !important;
}

.select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 35px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}

.ps4-button {
    background-color: $secondary;
    border: none;
}

.ps4-button:hover {
    background-color: $primary;

}

.ps4-button .active {
    background-color: $primary;
    border: none;
}

.switch-button {
    background-color: $secondary;
    border: none;
}

.switch-button:hover {
    background-color: $danger;
}

.switch-button .active {
    background-color: $danger;
    border: none;
}

.xbox-button {
    color: white;
    background-color: $secondary;
    border: none;
}


.xbox-button:hover {
    color: white;
    background-color: $success;
}

.xbox-button .active {
    color: white;
    background-color: $success;
    border: none;
}

.submit-button {
    background-color: $danger;
    position: absolute;
    width: 140px;
    right: -550px;
    top: 36px;
}


@media only screen and (max-width: 990px) {
    .dropdown-select2 {
        position: absolute;
        width: 300px;
        top: 0px;
        right: -745px;
    }

    .submit-button {
        position: absolute;
        width: 140px;
        right: -900px;
        top: 36px;
    }



}

@media only screen and (max-width: 767px) {
    .dropdown-select2{
        position: absolute;
        width: 200px;
        top: 40px;
        right: -630px;
    }

    .submit-button {
        position: absolute;
        width: 140px;
        right: -630px;
        top: 34px;
    }

    .btn-group {
        position: absolute;
        top: 0px;
        left: -400px;
    }

    .ps4-button {
        position: absolute;
        left: 435px;
        top: 39px;

    }
    .xbox-button {
        position: absolute;
        left: 435px;
        top: 39px;

    }

    .switch-button {
        position: absolute;
        left: 435px;
        top: 39px;
    }

    .color-bar {
        width: 310px;
    }





}

.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}
