.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// .navbar-lewagon-white {
//   background-color: white;
// }

.navbar-lewagon .navbar-brand:hover {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-timing-function: ease;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.navbar-lewagon-white {
  background-color: white;
}

.message-icon {
  margin: 10px 30px 0 0;
  color: rgba($color: #000000, $alpha: 0.3);
  cursor: pointer;
}

.message-icon:hover {
  color: #919191;
}
