.tab {
  overflow: hidden;
  background-color: #673ab7;
  color: white;
  width: 100%;
  display: flex;
  justify-content: stretch;
  margin: 0 !important;
  padding-inline-start: 0 !important;
}

/* Style the buttons that are used to open the tab content */
.tab a {
  text-align: center;
  background-color: inherit;
  flex-grow: 1;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-bottom: solid 8px #8c69cc;
  color: #8c69cc;
}

/* Change background color of buttons on hover */
.tab a:hover {
  background-color: #673ab7;
  color: white;
  border-bottom: solid 8px #30155f;
}

/* Create an active/current tablink class */
.tab a.active {
  background-color: #673ab7;
  color: white;
  border-bottom: solid 8px #30155f;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tablinks {
  font-size: 20px;
  width: 100%;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
